<div style="color:red;background-color:black">
Diamond Light Source

<h1 style="color:red;background-color:antiquewhite"><br>Basic Solutions<br></h1>  

©2000-20 Chris Seddon

http://www.keme.co.uk/~seddon-software/Python/Exercises%20(Python).pdf

## Q2.1
Write a program that inputs a 4 digit year and then calculates whether or not it is a leap year.  Test your code with the following years:
* 2021 (not a leap year)
* 2024 (is a leap year)
* 2100 (not a leap year)
* 2000 (is a leap year)

In [3]:
def isLeap(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False

year = 2021
if isLeap(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is NOT a leap year")

year = 2024
if isLeap(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is NOT a leap year")

year = 2100
if isLeap(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is NOT a leap year")

year = 2000
if isLeap(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is NOT a leap year")

2021 is NOT a leap year
2024 is a leap year
2100 is NOT a leap year
2000 is a leap year

## Q2.2
Using a variation of the above program, calculate the number of days in the inclusive date range '1st January 2000' to '31st December 2999'.  You should find that there are 365243 days in the millenia.

In [6]:
def daysInYear(year):
    days = 365
    if year %   4 == 0: days = 366
    if year % 100 == 0: days = 365
    if year % 400 == 0: days = 366
    return days

totalDays = 0
for year in range(2000, 3000):
    totalDays += daysInYear(year)

print(totalDays)

365243

## Q2.3
Write a program that prints out the square, cubes and fourth power of the first 20 integers.

In [8]:
print(f"{'N':>8s}{'N**2':>8s}{'N**3':>8s}{'N**4':>8s}")

for i in range(1,21):
    print(f"{i:>8}{i**2:>8}{i**3:>8}{i**4:>8}")

       N    N**2    N**3    N**4
       1       1       1       1
       2       4       8      16
       3       9      27      81
       4      16      64     256
       5      25     125     625
       6      36     216    1296
       7      49     343    2401
       8      64     512    4096
       9      81     729    6561
      10     100    1000   10000
      11     121    1331   14641
      12     144    1728   20736
      13     169    2197   28561
      14     196    2744   38416
      15     225    3375   50625
      16     256    4096   65536
      17     289    4913   83521
      18     324    5832  104976
      19     361    6859  130321
      20     400    8000  160000

## Q2.4
Write a program that prints out the first 20 Fibonacci numbers.  You can use the web to find out the definition 
of the Fibonacci sequence.

In [11]:
a, b = 0, 1

for n in range(20):
    print(f"{a}", end=" ") 
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

## Q2.5
Write a program that calculates the ratio of successive pairs of the first 200 Fibonacci numbers.  Does the ratio 
converge to a number?

In [14]:
a, b = 0, 1

for n in range(200):
    print(a/b) 
    a, b = b, a+b

0.0
1.0
0.5
0.6666666666666666
0.6
0.625
0.6153846153846154
0.6190476190476191
0.6176470588235294
0.6181818181818182
0.6179775280898876
0.6180555555555556
0.6180257510729614
0.6180371352785146
0.6180327868852459
0.6180344478216818
0.6180338134001252
0.6180340557275542
0.6180339631667066
0.6180339985218034
0.618033985017358
0.6180339901755971
0.6180339882053251
0.618033988957902
0.6180339886704432
0.6180339887802427
0.618033988738303
0.6180339887543226
0.6180339887482036
0.6180339887505408
0.6180339887496481
0.618033988749989
0.6180339887498588
0.6180339887499086
0.6180339887498896
0.6180339887498969
0.6180339887498941
0.6180339887498951
0.6180339887498948
0.6180339887498949
0.6180339887498948
0.6180339887498949
0.6180339887498948
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949
0.6180339887498949

## Q3.1
Write a program that prints out the sum, difference, product and dividend of two complex numbers.

In [18]:
x = 5 + 3j
y = 4 - 2j

print( f"sum =         {x + y}" )
print( f"difference =  {x - y}" )
print( f"product =     {x * y}" )
print( f"dividend =    {x / y}" )

sum =         (9+1j)
difference =  (1+5j)
product =     (26+2j)
dividend =    (0.7+1.1j)

## Q3.3
Use the `range` function to generate two separate tuples containing the list of integers from 10 to 19 and from 30 to 39.  Tuples are immutable, so how can you form a new tuple containing all the elements of the other two tuples.

In [20]:
tuple1 = tuple(range(10, 20))
tuple2 = tuple(range(30, 40))
theList = list(tuple1)

for i in range(10):
    theList.append(tuple2[i])
    
tuple3 = tuple(theList)
print(tuple3)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39)

## Q3.4
It is not possible to invert dictionaries in the general case, because unlike the dictionary values, keys must be unique and immutable. However the following dictionary can be
inverted:
<pre>
salaries = {
 "John" : 45000,
 "Sheila" : 48000,
 "Vivien" : 31000,
 "Roy" : 37000,
 "Ruth" : 50000
 }
</pre>
So write code to interchange the keys and values of the above.

In [ ]:
salaries = {
    "John" : 45000,
    "Sheila" : 48000,
    "Vivien" : 31000,
    "Roy" : 37000,
    "Ruth" : 50000
}

inverted = {}
for key, value in salaries.items():
    inverted[value] = key

print(inverted)

## Q4.1
Write a function that rotates the values of 3 variables.  
For example:
<pre>
    x = 100
    y = 200
    z = 300
    Rotate( ... )
    # x is now 200
    # y is now 300
    # z is now 100
</pre>

In [22]:
def Rotate(a, b, c):
    return b, c, a

x = 100
y = 200
z = 300

x, y, z = Rotate(x, y, z)
print(x, y, z)

200 300 100

## Q4.2
Write a function that rotates the values of an array.  
For example:
<pre>
array = [100, 200, 300, 400, 500]
    Rotate( ... )
    # array is now: [200, 300, 400, 500, 100]
</pre>

In [24]:
def Rotate(a):
    start = a[0]
    a[:] = a[1:]
    a.append(start)

array = [100, 200, 300, 400, 500]

Rotate(array)
print(array)

[200, 300, 400, 500, 100]

## Q4.3
Write a function to calculate Factorials.  
Try out  
*    factorial(1)  
*    factorial(10)  
*    factorial(40)  
*    factorial(100)

In [26]:
def factorial(n):
    if n == 1: 
        return 1
    else:
        return n * factorial(n -1)

print(factorial(1))
print(factorial(10))
print(factorial(40))
print(factorial(100))

1
3628800
815915283247897734345611269596115894272000000000
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Q4.4
Write a function that takes a string and capitalises the first character of the string and ensures the remaining characters are converted to lower case.  
Use the following test data:
<pre>
    UpperFirst("test1")
    UpperFirst("mIxEdCaSe")
    UpperFirst("UPPER")
    UpperFirst("lower")
    UpperFirst("oPPOSITE")
</pre>

In [28]:
def UpperFirst(s):
    return s.capitalize()

print( UpperFirst("test1") )
print( UpperFirst("mIxEdCaSe") )
print( UpperFirst("UPPER") )
print( UpperFirst("lower") )
print( UpperFirst("oPPOSITE") )

Test1
Mixedcase
Upper
Lower
Opposite

## Q4.5
Write a function that takes an integer array (list) as a parameter and doubles the value of each element of the array.

In [30]:
def DoubleIt(theList):
    for i, item in enumerate(theList):
        theList[i] *= 2

myList = [2, 3, 5, 7, 11, 13, 17, 19]
DoubleIt(myList)
print(myList)

[4, 6, 10, 14, 22, 26, 34, 38]

## Q4.6
Write a function that takes two int arrays (of the same size) as parameters and adds the arrays together, element by element.  
Return the summed array.

In [32]:
def AddArrays(array1, array2):
    result = []
    for i, item in enumerate(array1):
        result.append(array1[i] + array2[i])
    return result


a1 = ( 3,  6,  9, 10, 20, 17, 14)
a2 = (17, 14, 11, 10,  0,  3,  6)

result = AddArrays(a1, a2)
print(result)

[20, 20, 20, 20, 20, 20, 20]

## Q5.1
Write a program that calculates the factorial of an integer in the range 2 to 10.  Add exception handling code to prevent calculating a result where the input number is larger than 10, or any negative integer.  Make sure you can handle the case where the input is not an integer.

In [42]:
try:
    x = int(input("Enter an integer for factorial calculation: "))
    if x > 10: raise Exception(f"number too large: {x}")
    if x <  2: raise Exception(f"number too small: {x}")
    result = 1
    for i in range(1, x+1):
        result = result * i
    print(f"Factorial of {x} = {result}")
except Exception as e:
    print(e)

Enter an integer for factorial calculation: 6
Factorial of 6 = 720

## Q6.1
Create a class that represents a bank account.  
Add methods to allow a customer to `deposit()` and `withdraw()` money and provide a method `getBalance()`.  
Write a test program to check out your class.

In [44]:
class BankAccount:
    def __init__(self, accountName):
        self.accountName = accountName
        self.balance = 0.0
    
    def deposit(self, amount):
        self.balance += amount
        
    def withdraw(self, amount):
        self.balance -= amount
    
    def getBalance(self):
        return self.balance

johnsAccount = BankAccount("johns")
johnsAccount.deposit(350.00)
johnsAccount.deposit(250.00)
johnsAccount.deposit(500.00)
johnsAccount.withdraw(100.00)
print(johnsAccount.getBalance())

1000.0

## Q6.2
Modify the previous example to add facilities for providing an overdraft.  
You will need to define a `setOverdraft()` method.

In [46]:
class BankAccount:
    def __init__(self, accountName):
        self.accountName = accountName
        self.balance = 0.0
        self.overdraft = 0.0
    
    def deposit(self, amount):
        self.balance += amount
        
    def withdraw(self, amount):
        newBalance = self.balance - amount
        if newBalance < self.overdraft: raise Overdrawn()
        self.balance -= amount
    
    def setOverdraft(self, amount):
        self.overdraft = amount
        
    def getBalance(self):
        return self.balance

class Overdrawn(Exception): pass

try:
    johnsAccount = BankAccount("johns")
    johnsAccount.deposit(350.00)
    johnsAccount.deposit(250.00)
    johnsAccount.deposit(500.00)
    johnsAccount.withdraw(100.00)
    print(johnsAccount.getBalance())
    johnsAccount.withdraw(2000.00)
except Overdrawn:
    print("account would be overdrawn")

1000.0
account would be overdrawn

## Q6.3
An object starts moving at from position s0 with velocity v0 and gains a constant acceleration of a.  After time t, compute its position and velocity.  
Write a class to define the particle and provide the following methods:
<pre>
    def accelerate(self, a, t):
        # dv/dt = a
        # ds/dt = v
        # v = ∫a.dt = at + s0
        # s = ∫v.dt = ∫at.dt = at^2/2 + s0.t + v0
    
    def getPosition(self):
    
    def getVelocity(self):
</pre>
Calculate the positionand velocity of the object at time t=10.  
Perform all calculations in 3D space.  Use `numpy` to simplify the calculations.

In [49]:
import numpy as np

class Particle:
    def __init__(self, name, s0, v0):
        self.name = name
        self.s0 = s0
        self.v0 = v0
        
    def accelerate(self, a, t):
        # dv/dt = a
        # ds/dt = v
        # v = ∫a.dt = at + s0
        # s = ∫v.dt = ∫at.dt = at^2/2 + s0.t + v0
        self.v = a * t + self.s0
        self.s = a * t**2 + self.s0 * t + self.v0
    
    def getPosition(self):
        return self.s
    
    def getVelocity(self):
        return self.v
    
    
p1 = Particle("p1", np.array([0.5, 1.0, -0.2]), np.array([1.0, 0.3, -0.5]))
p1.accelerate(a=np.array([5.2, 2.4, 3.1]), t=10)
print(f"position = {p1.getPosition()}")
print(f"velocity = {p1.getVelocity()}")

position = [526.  250.3 307.5]
velocity = [52.5 25.  30.8]

## Q6.4
A relativistic particle, B travels at 3/4 of the speed of light in the x direction as viewed from an observer in frame of reference A.
A second relativistic particle, C  travels at 3/4 of the speed of light in the z direction as viewed from an observer in B's frame of reference.
What is speed the of particle C as viewed from the observer in frame A.

The relativistic formulae you require can be found at:
    http://www.math.ucr.edu/home/baez/physics/Relativity/SR/velocity.html

In [51]:
import numpy as np
import scipy.constants

np.set_printoptions(precision=3)
c = scipy.constants.c

# physical constants
print(f"speed of light = {c} m/sec")


class Point:
    def __init__(self, v, frame):
        self.frame = frame
        self.velocity = v
        
    def __add__(self, rhs):
        def γ(v):
            return 1/np.sqrt(1 - Vx*Vx/c**2)
        
        Vx, Vy, Vz = self.velocity
        Ux, Uy, Uz = rhs.velocity
        
        Wx = (Ux + Vx) / (1 + Ux*Vx/c**2)
        Wy = Uy / ((1 + Ux*Vx/c**2) * γ(Vx))
        Wz = Uz / ((1 + Ux*Vx/c**2) * γ(Vx))
        return Point(np.array([Wx, Wy, Wz]), "A")

    def abs(self):
        v = self.velocity
        return sum(v*v)**0.5

    
    
b_in_A = Point(np.array([c*.75, 0, 0]), "A")
c_in_B = Point(np.array([0, 0, c*.75]), "B")
d_in_B = Point(np.array([-c*.55, c*.57, c*.59]), "B")

c_in_A = b_in_A + c_in_B
d_in_A = b_in_A + d_in_B

print(f"Particle C when viewed in frame A (in c units):")
print(f"Velocity: {c_in_A.velocity/c}")
print(f"Speed: {c_in_A.abs()/c:.3f}")

print(f"Particle D when viewed in frame A (in c units):")
print(f"Velocity: {d_in_A.velocity/c}")
print(f"Speed: {d_in_A.abs()/c:.3f}")

speed of light = 299792458.0 m/sec
Particle C when viewed in frame A (in c units):
Velocity: [0.75  0.    0.496]
Speed: 0.899
Particle D when viewed in frame A (in c units):
Velocity: [0.34  0.642 0.664]
Speed: 0.984

## Q7.1
Write a program that emulates the word count program: `wc`.
Use the file "zen.txt" as input and print out the number of characters, words and lines in this file.

In [53]:
import os

os.system("wc data/zen.txt")
with open("data/zen.txt", "r") as f:
    text = f.read()
    print(f"characters = {len(text)}")
    print(f"words = {len(text.split())}")
    print(f"lines = {len(text.split(chr(10)))-1}")

characters = 823
words = 137
lines = 19

## Q7.2
Write a file copy program.

In [55]:
inFile = None
outFile = None

try:
    inFile = open("data/original.txt", "r")
    outFile = open("data/copy.txt", "w")

    for line in inFile:
        outFile.write(line)
except IOError as reason:
    print(reason)
finally:        
    if inFile: inFile.close()
    if outFile: outFile.close()

In [56]:
%%bash
cat data/original.txt
cat data/copy.txt

this is line 1
this is line 2
this is line 3
this is line 4
this is line 5
this is line 6
this is line 7
this is line 8
this is line 9
this is line 10
this is line 11
this is line 12

this is line 1
this is line 2
this is line 3
this is line 4
this is line 5
this is line 6
this is line 7
this is line 8
this is line 9
this is line 10
this is line 11
this is line 12

## Q7.3
The file call `data/TestData.txt` contains test data consisting of one number per line.  Your job is to read the entire file into memory and compute the sum of all the numbers.

In [59]:
%%bash
cat data/TestData.txt

25
300
17
55
127
99
125

In [60]:
inFile = None
total = 0

try:
    inFile = open("data/TestData.txt", "r")

    for line in inFile:
        total += int(line)
except IOError as reason:
    print(reason)
finally:        
    if inFile: inFile.close()

print(f"Total = {total}")

Total = 748

## Q7.4
Try the previous example with the test file `data/TestData2.txt`; this file contains non integral data.  Use exception handling to filter out lines that don't contain integers.

In [62]:
%%bash
cat data/TestData2.txt

25
300
Invalid line
17
55
Another invalid line
127
99
125

In [64]:
inFile = None
total = 0

try:
    inFile = open("data/TestData2.txt", "r")

    for line in inFile:
        try:
            total += int(line)
        except Exception as e:
            print(e)
except IOError as reason:
    print(reason)
finally:        
    if inFile: inFile.close()

print(f"Total = {total}")

invalid literal for int() with base 10: 'Invalid line\n'
invalid literal for int() with base 10: 'Another invalid line\n'
Total = 748

## Q7.5
Write a program that concatenates three files:
*    data/TestFile1.txt
*    data/TestFile2.txt
*    data/TestFile3.txt  

into a new file called:
*    data/TestFile.txt

In [66]:
%%bash
cat data/TestFile1.txt
cat data/TestFile2.txt
cat data/TestFile3.txt

this is line 1 of File 1
this is line 2 of File 1
this is line 3 of File 1
this is line 4 of File 1
this is line 5 of File 1

this is line 1 of File 2
this is line 2 of File 2
this is line 3 of File 2
this is line 4 of File 2
this is line 5 of File 2

this is line 1 of File 3
this is line 2 of File 3
this is line 3 of File 3
this is line 4 of File 3
this is line 5 of File 3

In [67]:
inFile1 = inFile2 = inFile3 = outFile = None

try:
    inFile1 = open("data/TestFile1.txt", "r")
    inFile2 = open("data/TestFile2.txt", "r")
    inFile3 = open("data/TestFile3.txt", "r")
    outFile = open("data/TestFile.txt", "w")

    for file in (inFile1, inFile2, inFile3):
        for line in file:
            outFile.write(line)
except IOError as reason:
    print(reason)
finally:        
    if inFile1: inFile1.close()
    if inFile2: inFile2.close()
    if inFile3: inFile3.close()
    if outFile: outFile.close()

In [68]:
%%bash
cat data/TestFile.txt

this is line 1 of File 1
this is line 2 of File 1
this is line 3 of File 1
this is line 4 of File 1
this is line 5 of File 1

this is line 1 of File 2
this is line 2 of File 2
this is line 3 of File 2
this is line 4 of File 2
this is line 5 of File 2

this is line 1 of File 3
this is line 2 of File 3
this is line 3 of File 3
this is line 4 of File 3
this is line 5 of File 3

## Q7.6
Write a program that reads a file, reverses the order of lines in the file and then saves the changes in a new file. 
Use `data/TestFile1.txt` as you test file.

In [17]:
inFile = None

try:
    inFile = open("data/TestFile1.txt", "r")
    outFile = open("data/OutFile.txt", "w")

    lines = []
    for line in inFile:
        lines.append(line)
    lines.reverse()
    for line in lines:
        outFile.write(line)
except IOError as reason:
    print(reason)
finally:        
    if inFile: inFile.close()
    if outFile: outFile.close()

In [18]:
%%bash
cat data/OutFile.txt

this is line 5 of File 1
this is line 4 of File 1
this is line 3 of File 1
this is line 2 of File 1
this is line 1 of File 1

## Q7.7
Write a program that emulates the `grep` command with a pattern such as:
<pre>
    grep [Nn]ow data/zen.txt
</pre>

In [72]:
%%bash
grep [Nn]ow data/zen.txt

Now is better than never.
Although never is often better than *right* now.

In [73]:
from fnmatch import fnmatch

f = open("data/zen.txt")
lines = f.readlines()

for earth in lines:
    if fnmatch(earth, "*[Nn]ow*"):
        print(earth, end="")

Now is better than never.
Although never is often better than *right* now.

## Q25
How do you find the intersection of 2 lists (i.e. those elements common to both lists)?  
Use the following lists as test data:  
<pre>
list1 = [ 1, 3, 5, 7, 5, 4, 3, 2, 1 ]
list2 = [ 2, 4, 6, 8, 6, 4, 3, 2, 1 ]
</pre>

In [76]:
list1 = [ 1, 3, 5, 7, 5, 4, 3, 2, 1 ]
list2 = [ 2, 4, 6, 8, 6, 4, 3, 2, 1 ]

set1 = set(list1)
set2 = set(list2)
common = set1.intersection(set2)
newList = list(common)
print(newList)

[1, 2, 3, 4]

## Q26
Write a function that checks if a list is a palindrome.  
Use the following test data:  
<pre>
listA = [ 5, 7, 3, 22, 15, 6, 15, 22, 3, 7, 5 ]         # is palindrome
listB = [ 5, 7, 3, 22, 15, 6, 6, 15, 22, 3, 7, 5 ]      # is palindrome
listC = [ 5, 7, 3, 22, 15, 6, 7, 15, 22, 3, 7, 5 ]      # is NOT palindrome
listD = [ 5, 7, 3, 'A', 15, 'Z', 15, 'G', 3, 7, 5 ]     # is NOT palindrome
listE = [ 5, 'A', 3, 'G', 15, 6, 15, 'G', 3, 'A', 5 ]   # is palindrome
</pre>

In [80]:
def isPalindrome(aList):
      return aList == aList[::-1]
  
listA = [ 5, 7, 3, 22, 15, 6, 15, 22, 3, 7, 5 ]         # is palindrome
listB = [ 5, 7, 3, 22, 15, 6, 6, 15, 22, 3, 7, 5 ]      # is palindrome
listC = [ 5, 7, 3, 22, 15, 6, 7, 15, 22, 3, 7, 5 ]      # is NOT palindrome
listD = [ 5, 7, 3, 'A', 15, 'Z', 15, 'G', 3, 7, 5 ]     # is NOT palindrome
listE = [ 5, 'A', 3, 'G', 15, 6, 15, 'G', 3, 'A', 5 ]   # is palindrome

print( isPalindrome(listA) )
print( isPalindrome(listB) )
print( isPalindrome(listC) )
print( isPalindrome(listD) )
print( isPalindrome(listE) )

True
True
False
False
True

## Q27
Write a function that flattens a multi-dimensional list into a 1D list.  
Use the following test data:  
<pre>
listA = [[1, 2, 3], [4, 5, 6], 7]
listB = [[1, [2, 3], [4, 5, [6, [7]]]]]
</pre>

In [82]:
def flatten(aList):
    flatList = []      
    for item in aList:
        if (type(item)==list):
            flatList.extend(flatten(item))
        else:
            flatList.append(item)          
    return flatList
  
listA = [[1, 2, 3], [4, 5, 6], 7]
listB = [[1, [2, 3], [4, 5, [6, [7]]]]]

print( flatten(listA) )
print( flatten(listB) )

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

## Q28
Write a function that compresses a 1D list by removing adjacent duplicates.  
Use the following test data:  
<pre>
[4,7,5,5,5,3,4,4,4,2,2]
</pre>

In [85]:
def compress(aList):
      return [item for i, item in enumerate(aList) if i==0 or item != aList[i-1]]
  
print( compress([4,7,5,5,5,3,4,4,4,2,2]) )

[4, 7, 5, 3, 4, 2]

Study the data in the file:
* data/customer.txt
Read the data from the file and set up a dictionary such that:  
* the key is formed from the FIRSTNAME, INIT, LASTNAME fields and 
* the values from the remaining fields.  
Note that some keys do not have an initial.  
Once the hash is complete perform a search for two different entries:  
* 'WILLIAM T JONES
* 'DAVID BROWN'

In [88]:
%%bash
cat data/customer.txt

# EMPNO     FIRSTNAME   INIT LASTNAME  DEPT PHONE   HIREDATE    JOB     SEX  BIRTHDATE   SALARY  BONUS  COMM
000010      CHRISTINE   I   HAAS;       A00 3978    1965-01-01  PRES     F   1933-08-24  52750   1000   4220
000020      MICHAEL     L   THOMPSON;   B01 3476    1973-10-10  MANAGER  M   1948-02-02  41250   800    3300
000030      SALLY       A   KWAN;       C01 4738    1975-04-05  MANAGER  F   1941-05-11  38250   800    3060
000050      JOHN        B   GEYER;      E01 6789    1949-08-17  MANAGER  M   1925-09-15  40175   800    3214
000060      IRVING      F   STERN;      D11 6423    1973-09-14  MANAGER  M   1945-07-07  32250   500    2580
000070      EVA         D   PULASKI;    D21 7831    1980-09-30  MANAGER  F   1953-05-26  36170   700    2893
000090      EILEEN      W   HENDERSON;  E11 5498    1970-08-15  MANAGER  F   1941-05-15  29750   600    2380
000100      THEODORE    Q   SPENSER;    E21 0972    1980-06-19  MANAGER  M   1956-12-18  26150   500    2092
000110      VINCENZO    G   LUCCHESSI;  A00 3490    1958-05-16  SALESREP M   1929-11-05  46500   900    3720
000120      SEAN            O'CONNELL;  A00 2167    1963-12-05  CLERK    M   1942-10-18  29250   600    2340
000130      DOLORES     M   QUINTANA;   C01 4578    1971-07-28  ANALYST  F   1925-09-15  23800   500    1904
000140      HEATHER     A   NICHOLLS;   C01 1793    1976-12-15  ANALYST  F   1946-01-19  28420   600    2274
000150      BRUCE           ADAMSON;    D11 4510    1972-02-12  DESIGNER M   1947-05-17  25280   500    2022
000160      ELIZABETH   R   PIANKA;     D11 3782    1977-10-11  DESIGNER F   1955-04-12  22250   400    1780
000170      MASATOSHI   J   YOSHIMURA;  D11 2890    1978-09-15  DESIGNER M   1951-01-05  24680   500    1974
000180      MARILYN     S   SCOUTTEN;   D11 1682    1973-07-07  DESIGNER F   1949-02-21  21340   500    1707
000190      JAMES       H   WALKER;     D11 2986    1974-07-26  DESIGNER M   1952-06-25  20450   400    1636
000200      DAVID           BROWN;      D11 4501    1966-03-03  DESIGNER M   1941-05-29  27740   600    2217
000210      WILLIAM     T   JONES;      D11 0942    1979-04-11  DESIGNER M   1953-02-23  18270   400    1462
000220      JENNIFER    K   LUTZ;       D11 0672    1968-08-29  DESIGNER F   1948-03-19  29840   600    2387
000230      JAMES       J   JEFFERSON;  D21 2094    1966-11-21  CLERK    M   1935-05-30  22180   400    1774
000240      SALVATORE   M   MARINO;     D21 3780    1979-12-05  CLERK    M   1954-03-31  28760   600    2301
000250      DANIEL      S   SMITH;      D21 0961    1969-10-30  CLERK    M   1939-11-12  19180   400    1534
000260      SYBIL       P   JOHNSON;    D21 8953    1975-09-11  CLERK    F   1936-10-05  17250   300    1380
000270      MARIA       L   PEREZ;      D21 9001    1980-09-30  CLERK    F   1953-05-26  27380   500    2190
000280      ETHEL       R   SCHNEIDER;  E11 8997    1967-03-24  OPERATOR F   1936-03-28  26250   500    2100
000290      JOHN        R   PARKER;     E11 4502    1980-05-30  OPERATOR M   1946-07-09  15340   300    1227
000300      PHILIP      X   SMITH;      E11 2095    1972-06-19  OPERATOR M   1936-10-27  17750   400    1420
000310      MAUDE       F   SETRIGHT;   E11 3332    1964-09-12  OPERATOR F   1931-04-21  15900   300    1272
000320      RAMLAL      V   MEHTA;      E21 9990    1965-07-07  FIELDREP M   1932-08-11  19950   400    1596
000330      WING            LEE;        E21 2103    1976-02-23  FIELDREP M   1941-07-18  25370   500    2030
000340      JASON       R   GOUNOT;     E21 5698    1947-05-05  FIELDREP M   1926-05-17  23840   500    1907

In [89]:
import re

filename = "data/customer.txt"
f = open(filename, "r")

data = f.readlines()
customer = dict();

keyCols = ('firstName', 'initial', 'lastName')    
valueCols = ('empNo', 'dept', 'phone', 'hiredate', 'job', 'sex', 'birthDate', 'salary', 'bonus', 'commission')
print("key cols: {keyCols}")
print("value cols: {valueCols}")

for line in data:
    fields = line.split(";", 2)

    # ignore blank lines and those without a semicolon
    if len(fields)!= 2: continue
    
    # fields[0] contains EmpNo and the Key
    # fields[1] contain the other fields, but starts with whitespace
    pattern = re.compile(r"[\s]+")    
    part1 = pattern.split(fields[0])
    part2 = pattern.split(fields[1].strip())
    
    # part1 will have 3 or 4 items depending on whether or not there is a middle initial 
    if len(part1) == 3:
        empNo, firstName, lastName = part1
        initial = ""
    else:
        empNo, firstName, initial, lastName = part1

    # now pack the fields into the hash = {key, value}
    key = (firstName, initial, lastName)
    value = [empNo]
    value.extend(part2)
    customer[key] = value

# search for two different entries
key = ('WILLIAM', 'T', 'JONES')
print(key, customer[key])

key = ('DAVID', '', 'BROWN')
print(key, customer[key])

key cols: {keyCols}
value cols: {valueCols}
('WILLIAM', 'T', 'JONES') ['000210', 'D11', '0942', '1979-04-11', 'DESIGNER', 'M', '1953-02-23', '18270', '400', '1462']
('DAVID', '', 'BROWN') ['000200', 'D11', '4501', '1966-03-03', 'DESIGNER', 'M', '1941-05-29', '27740', '600', '2217']